In [2]:
import pandas as pd

df = pd.read_csv('jobs_data.csv')

print(df.head())

   都市名                   店舗名                            仕事名  \
0  品川区                   NaN                            NaN
1  品川区                   NaN                            NaN
2  品川区             三軒茶屋とうきゅう    リニューアルオープン◎料理経験不問！初バイトも大歓迎！
3  品川区  Yotsuba café（ヨツバカフェ）  【企業内でのカフェスタッフ★】キッチン・バリスタ同時募集！
4  品川区        肉処　かつヰ　大井阪急精肉店  レジなし◎お肉を量って包むだけ！経験者は高時給◎週2～OK

                            勤務地                            時給
0                           NaN                           NaN
1                           NaN                           NaN
2                           NaN                           NaN
3  [勤務地・面接地] 東京都品川区 ⁄ 目黒駅（徒歩1分）                     時給1,200円～
4     [勤務地] 東京都品川区 ⁄ 大井町駅（徒歩2分）  ①時給1,600円～1,800円、②③時給1,250円～

In [ ]:
#最初の5行を読み込む

In [3]:
def compare_average_income(df):
    avg_hourly_wage = df['時給'].mean()
    
    shinagawa_data = df[df['勤務地'] == '東京都品川区']
    miyazaki_data = df[df['勤務地'] == '宮崎県宮崎市']
    
    shinagawa_avg_income = shinagawa_data['収入'].mean()
    miyazaki_avg_income = miyazaki_data['収入'].mean()
    
    return avg_hourly_wage, shinagawa_avg_income, miyazaki_avg_income


avg_hourly_wage, shinagawa_avg_income, miyazaki_avg_income = compare_average_income(df)
print(f"Average Hourly Wage: {avg_hourly_wage}")
print(f"Average Income in Shinagawa, Tokyo: {shinagawa_avg_income}")
print(f"Average Income in Miyazaki, Miyazaki: {miyazaki_avg_income}")

TypeError: unsupported operand type(s) for +: 'int' and 'str'